body{
    background-color: var(--primary-background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

:root{
    --primary-background-color:	#91bfff;
    --secondary-background-color:	#4c6aff;
    --text-color: #ffa700;
    --shadow: 5px 10px 10px dimgray;
}

#main{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

h2{
    color: var(--text-color);
}

p{
    color: var(--text-color); 
}

#landingPage h1{
    margin-top: 5%;
}

#landingPage button{
    margin-top: 5%;
    padding: 1%;
}


#accountDiv{
    background-color: var(--secondary-background-color);
    width: 35%;
    height: 75%;
    box-shadow: var(--shadow);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#landingBtn{
    top: 60%;
}

#loginDiv,#signupDiv{
    min-width: 80%;
    min-height: 80%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}

#loginEmail,#loginPassword,#signupEmail,#signupPassword,#signupUsername{
    background-color:var(--secondary-background-color);
    border-top: black 2px;
    border-left: black 2px;
    border-right: black 2px;
    height: 1.5em;
    font-size: 15px;
}

::placeholder{
    color:black;
    font-size: 15px;
}

#btnLogin, #btnSignup, #landingBtn, .btn{
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
    border: none;
    border-radius: 25%;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    padding: 2%;
    cursor: pointer;
    margin: 20px  0 auto;
}

#btnLogout{
    display: inline-block;
    border: solid black 3px;
    padding: .5%;
    border-radius: 20%;
    position: relative;
    background-color:var(--primary-background-color);
}

#btnLogout p{
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}


.logo{
    color: #720E07;
    max-width: 50%;
    max-height: 50%;
    border-radius: 25%;
    top: 30%;
}

p a:hover{
    color:blue;
}

#homepage{
    width: 100%;
    height: 100%;
}

.hide{
   display: none;
}

#backbtn{
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    color: var(--text-color);
    background-color: var(--secondary-background-color);
    height: 2em;
    border-radius: 20px;
    font-size: 1em;
}

#name{
    margin: 0 auto 5%;
    text-align: center;
}

#chatroom header{
    display: flex;
    position: relative;
}
#scroll{
    height: 95%;
    width: 40%;
    background-color: var(--secondary-background-color);
    border: .5px solid black;
    box-shadow: var(--shadow);
}

#chatroom{
    height: 95%;
    width: 40%;
    transform-origin: top left;
    transform: scale(0);
    background-color: var(--secondary-background-color);
    transition: all 0.6s;
    box-shadow: var(--shadow);
}

#chatroom header{
    padding: 2%;
    padding-bottom: 0;
}

#messages{
    display: flex;
    border-top: 1px solid black;
    flex-direction: column;
    gap: 15px;
    height: 83%;
    padding: 2%;
    overflow: scroll;
}

#messages::-webkit-scrollbar{
    display: none;
}

#messagebox{
    position: absolute;
    width: 99%;
    top: 96%;
    left: .5%;
    border-radius: 20px;
    background-color: white;
    opacity: 1;
}

#messagebox::placeholder{
    color: gray;
    opacity: .5;
}

.myMsg{
    text-align: right;
}

.myMsg .sender{
    color: blue;
}

.theirMsg .sender{
    color: red;
}

.message{
    display: inline-block;
    position: relative;
    border: .5px solid white;
    color: white;
    border-radius: 10px;
    padding: 1.5%;
}

.myMsg .message{
    background-color: var(--text-color);
}

.theirMsg .message{
    background-color: rgb(255,140,0);
}
.time{
    font-size: 50%;
    display: block;
}

.myMsg .time{
    text-align: right;
}

.theirMsg .time{
    text-align: left;
}

#search{
    text-align: center;
}


#search input{
    height: 25px;
    width: 95%;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 27px;
}

#search i{
    color: black;
    border-radius: 5px;
    font-size: 1.3em;
    position: absolute;
    left: 20px;
    top: 7px;
}

.trash{
    display:inline-block;
    position: absolute;
    background: none;
    left: 96%;
    top: 2px;
}

.b{
    border: black solid;
}

.chatDiv:first-child{
    margin-top: 20px;
}
.chatDiv{
    position: relative;
    padding: 1% 0;
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
}

.chatDiv:hover{
    cursor: pointer;
    filter: brightness(200%);
}

@media  (max-width: 500px) {

    #accountDiv{
        width: 80%;
    }

    #logo{
        margin: 20px 15%;
    }

    #scroll{
        width:90%;
        height: 80%;
        top: 55%;
    }

    #chatroom{
        width:90%;
        height: 80%;
        top: 55%;
    }


    #search i{
        left:4%;
    }

   .trashMobile{
        left: 94%;
    }

    h2{
        margin-bottom: 5px;
    }

    #messages{
        border-top: 1px solid black;
        padding: 3% 3%;
        height: 80%;
        z-index: 50;
        overflow: scroll;
    }

    #messageBox{
        top: 95%;
    }
}