body{
    background-color: var(--primary-background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-background-color:	#91bfff;
    --secondary-background-color:	#4c6aff;
    --text-color: hsl(40,100%,55%);
    --shadow: 5px 10px 10px dimgray;
}

#main{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

h2{
    color: var(--text-color);
}

p{
    color: var(--text-color); 
}

#landingPage h1{
    margin-top: 5%;
}

#landingPage button{
    margin-top: 5%;
    padding: 1%;
}


#accountDiv{
    background-color: var(--secondary-background-color);
    width: 35%;
    height: 75%;
    box-shadow: var(--shadow);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

#landingBtn{
    top: 60%;
}

#loginDiv,#signupDiv{
    min-width: 80%;
    min-height: 80%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}

.accountInput{
    background-color:var(--secondary-background-color);
    border-top: black 2px;
    border-left: black 2px;
    border-right: black 2px;
    height: 1.5em;
    font-size: 15px;
}

::placeholder{
    color:black;
    font-size: 15px;
}

.btn{
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
    border: none;
    border-radius: 25%;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    cursor: pointer;
    margin: 20px  0 auto;
}

#homePage{
    width: 100%;
    height: 100%;
    margin: .5%;
}

#homePage h2{
    font-size: 2em;
    margin-top: 10px;
}

#btnLogout{
    display: flex;
    width: 120px;
    height: 45px;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    padding: 0 1%;
    border-radius: 30px;
    margin: 0;
    border: solid black 2px;
    background-color:var(--secondary-background-color);
}

#btnLogout p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
}

.logo{
    color: #720E07;
    max-width: 50%;
    max-height: 50%;
    border-radius: 25%;
    top: 30%;
}

p a:hover{
    color:blue;
}

.hide{
   display: none;
}

.wrapper{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.confirmation-screen{
    background-color: white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 400px;
    height: 200px;
}

.confirmation-screen p{
    font-size: 2em;
}

.confirmation-btns{
    display: flex;
    font-size: 1.5em;
    gap: 60px;
}

.confirmation-btn{
    background-color: var(--secondary-background-color);
    cursor: pointer;
    color: var(--text-color);
    border: none;
    font-size: 1.2em;
    border-radius: 25%;
    padding: 5px 20px;
}

#search{
    position: relative;
    text-align: center;
    height: 25px;
    width: 80%;
    margin: 10px auto;
    font-size: 15px;
}

.searchResults{
    position: absolute;
    font-size: 1.1em;
    flex-direction: column;
    text-align: left;
    display: none;
    border-radius: 10px;
    border: 1px solid black;
    top: 110%;
    z-index: 3;
    width: 107%;
    height: auto;
    padding: 15px 0;
    background-color: var(--primary-background-color);
}

.searchResults p{
    padding: 10px 15px;
}

.searchResults p:hover{
    background-color: white;
}

#search input{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 1%;
    padding-left: 7%;
    vertical-align: center;
    border-radius: 10px;
}

#search i{
    color: black;
    border-radius: 5px;
    font-size: 1.3em;
    position: absolute;
    left: 1%;
    top: 15%;
}

#scroll{
    height: 95%;
    width: 40%;
    background-color: var(--secondary-background-color);
    border: .5px solid black;
    box-shadow: var(--shadow);
}

#chatroom{
    height: 95%;
    width: 40%;
    transform-origin: top left;
    transform: scale(0);
    background-color: var(--secondary-background-color);
    transition: all 0.6s;
    box-shadow: var(--shadow);
}

#chatroom header{
    display: flex;
    padding: 0 2%;
    justify-content: center;
    align-items: center;
}

#backbtn{
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    color: var(--text-color);
    background-color: var(--secondary-background-color);
    height: 2.5em;
    border: none;
}

#backbtn i{
    font-size: 2.5em;
    cursor: pointer;
}

#name{
    margin: 3% auto;
    text-align: center;
}

#messages{
    display: flex;
    border-top: 1px solid black;
    flex-direction: column;
    gap: 15px;
    height: 80%;
    padding: 2%;
    overflow: scroll;
}

#messages::-webkit-scrollbar{
    display: none;
}

#messagebox{
    box-sizing: border-box;
    position: absolute;
    width: 90%;
    bottom: 1%;
    right: 5%;
    font-size: 1.1em;
    border-radius: 12px;
    background-color: white;
    opacity: 1;
}

#messagebox::placeholder{
    color: gray;
    opacity: .5;
}

.myMsg{
    text-align: right;
}

.message{
    display: inline-block;
    position: relative;
    border: .5px solid white;
    color: white;
    border-radius: 10px;
    padding: 1.5%;
}

.myMsg .message{
    background-color: var(--text-color);
}

.theirMsg .message{
    background-color: rgb(255,140,0);
}
.time{
    font-size: 50%;
    display: block;
}

.myMsg .time{
    text-align: right;
}

.theirMsg .time{
    text-align: left;
}

.trash{
    display:inline-block;
    position: absolute;
    background: none;
    left: 93%;
    top: 30%;
}

.chatDiv:first-child{
    margin-top: 20px;
}
.chatDiv{
    position: relative;
    padding: 1% 0;
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
}

.chatDiv:hover{
    cursor: pointer;
    filter: brightness(200%);
}

@media (max-width: 700px) {

    #accountDiv{
        width: 80%;
    }

    #logo{
        margin: 20px 15%;
    }

    #homePage{
        padding-left: 20px;
    }

    #homePage h2{
        margin-top: 0;
        font-size: 1.7em;
    }

    #btnLogout{
        justify-content: center;
        margin-left: auto;
        margin-right: 20px;
        gap: 10px;
    }

    .logout-confirmation-screen{
        width: 70%;
    }

    .logout-confirmation-btns button{
        font-size: 1.5em;
        padding: 3px 10px;
    }

    #scroll{
        width:90%;
        height: 80%;
        top: 55%;
    }

    #search input{
        font-size: 1.1em;
    }

    #search i{
        font-size: 1em;
        top: 30%;
    }

    #chatroom{
        width:90%;
        height: 80%;
        top: 55%;
    }

   .trashMobile{
        left: 94%;
    }

    #homePage h2{
        margin-bottom: 5px;
    }

    #backbtn{
        height: 3em;
    }
    
    #backbtn i{
        font-size: 3em;
    }

    #messages{
        border-top: 1px solid black;
        padding: 3% 3%;
        z-index: 50;
        overflow: scroll;
    }
}